header {
    display: flex;
    justify-content: space-around;
    gap: 1px;
}

.presentation_user {
    display: flex;
    justify-content: space-around;
    gap: 25px;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
}